{% load static %}
<footer class = "footer">
    <ul class = "ul-footer">
        <li class = "footer-li"><a href="https://web.facebook.com/"><img class = "img-footer" src="{% static 'shop/icons/google.svg' %}" alt="google"></a></li>
        <li class = "footer-li"><a href="https://web.facebook.com/"><img class = "img-footer" src="{% static 'shop/icons/facebook.svg' %}" alt="facebook"></a></li>
        <li class = "footer-li"><a href="https://mail.google.com/"><img class = "img-footer" src="{% static 'shop/icons/email.svg' %}" alt="email"></a></li>
    </ul>
</footer>